/* body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */margin: 0;padding: 0;}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
/* 设置默认字体 */
body,button, input, select, textarea { /* for ie */font: 12px/1.3 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii字符表示，使得在任何编码下都无问题 */}
h1 { font-size: 28px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */border-bottom: 1px dotted;cursor: help;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none;}
/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */}
/* 重置表格元素 */
table {border-collapse: collapse;border-spacing: 0;}
caption, th {text-align: left;}
sup, sub {font-size: 100%;vertical-align: baseline;}
/* 重置 hr */
hr {border: none;height: 1px;}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }
.clearfix:after { content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


a.dot{background:url(dot.png) right -2px no-repeat;padding-right:13px;}

/*标题颜色#ebebeb
文字颜色#343434*/
html{background: #d5e3eb url(bg.jpg) repeat-x;}
body{width: 700px;margin: 0 auto;}
img{width: 100%}
h1{color:rgb(59,123,195);text-shadow:0px 0px 1px #ffffff;margin:20px 0 20px 20px;}
h2{color:rgb(235,235,235);color:rgba(235,235,235,0.85);/*text-shadow:2px -2px 1px rgba(0,0,0,0.75);*/-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out }
article{position: relative;}
article#info{padding:30px 0 0 0;}

.ava_pto{float:right;margin:-15px 30px 0 0;width:120px;position: relative;text-align: center;}
.avatar,.photo{display:block;position: absolute;top:0px;left: 0;}
.avatar{padding-top:30px;}
.photo{display:none;padding:15px 5px 0px 5px;}

.ava_pto:hover .avatar{display:none;}
.ava_pto:hover .photo{display:block;}


.first{position: absolute;top:-25px;width:100%;background:url(first.png) left center no-repeat;margin:0px 0px 0 -20px;padding:15px 0px 23px 30px;}
.first:hover{padding-left:45px}
.middle{background: url(middle.png) center center no-repeat;margin:0px -32px;padding:15px 0px 15px 40px;}
.middle:hover{padding-left:55px}
footer{background:url(last.png) right center no-repeat;margin:-35px -20px 0 0;padding:15px 0px;}
footer ul{text-align: right;padding:12px 40px 0 0;}
footer ul li{display:inline-block;margin:0 10px}
section{background:#ebebeb;padding-bottom: 15px;box-shadow: 2px -2px 2px 2px rgba(0,0,0,.2)}
article>ul,article p{margin:15px;}
article ul li{list-style-type:disc;margin:2px 0 2px 20px }
article li li{list-style-type:circle;margin:0 10px}
article ol li{list-style-type:decimal;}
#cando div{margin-left:30px;}

@-webkit-keyframes html{0%{border-width:0px}100%{border-width:350px}}
@-webkit-keyframes css{0%{border-width:0px}100%{border-width:300px}}
@-webkit-keyframes css3{0%{border-width:0px}100%{border-width:150px}}
@-webkit-keyframes js{0%{border-width:0px}100%{border-width:250px}}
@-webkit-keyframes php{0%{border-width:0px}100%{border-width:200px}}
@-webkit-keyframes mysql{0%{border-width:0px}100%{border-width:150px}}
@-webkit-keyframes python{0%{border-width:0px}100%{border-width:150px}}
@-webkit-keyframes jquery{0%{border-width:0px}100%{border-width:250px}}
@-webkit-keyframes git{0%{border-width:0px}100%{border-width:100px}}
@-webkit-keyframes markdown{0%{border-width:0px}100%{border-width:350px}}
@-webkit-keyframes ps{0%{border-width:0px}100%{border-width:100px}}
@-webkit-keyframes shell{0%{border-width:0px}100%{border-width:150px}}

@-moz-keyframes html{0%{border-width:0px}100%{border-width:350px}}
@-moz-keyframes css{0%{border-width:0px}100%{border-width:300px}}
@-moz-keyframes css3{0%{border-width:0px}100%{border-width:150px}}
@-moz-keyframes js{0%{border-width:0px}100%{border-width:250px}}
@-moz-keyframes php{0%{border-width:0px}100%{border-width:200px}}
@-moz-keyframes mysql{0%{border-width:0px}100%{border-width:150px}}
@-moz-keyframes python{0%{border-width:0px}100%{border-width:150px}}
@-moz-keyframes jquery{0%{border-width:0px}100%{border-width:250px}}
@-moz-keyframes git{0%{border-width:0px}100%{border-width:100px}}
@-moz-keyframes markdown{0%{border-width:0px}100%{border-width:350px}}
@-moz-keyframes ps{0%{border-width:0px}100%{border-width:100px}}
@-moz-keyframes shell{0%{border-width:0px}100%{border-width:150px}}

.lhtml{border-left:350px solid  #E33532;-webkit-animation:html 2s ease-out;-moz-animation:html 2s ease-out 0s}
.lcss{border-left:300px solid #4CB749;-webkit-animation:css 2s ease-out;-moz-animation:css 2s ease-out 0s}
.lcss3{border-left:150px solid #E5B121;-webkit-animation:css3 2s ease-out;-moz-animation:css3 2s ease-out 0s}
.ljs{border-left:250px solid #659ED4;-webkit-animation:js 2s ease-out;-moz-animation:js 2s ease-out 0s}
.ljquery{border-left:250px solid #652bD4;-webkit-animation:jquery 2s ease-out;-moz-animation:jquery 2s ease-out 0s}
.lphp{border-left:200px solid #be0c7e;-webkit-animation:php 2s ease-out;-moz-animation:php 2s ease-out 0s}
.lmysql{border-left:150px solid #6da601;-webkit-animation:mysql 2s ease-out;-moz-animation:mysql 2s ease-out 0s}
.lpython{border-left:150px solid #1aa601;-webkit-animation:python 2s ease-out;-moz-animation:python 2s ease-out 0s}
.lgit{border-left:100px solid #4CB749;-webkit-animation:git 2s ease-out;-moz-animation:git 2s ease-out 0s}
.lmarkdown{border-left:350px solid #652bD4;-webkit-animation:markdown 2s ease-out;-moz-animation:markdown 2s ease-out 0s}
.lps{border-left:100px solid #be0c7e;-webkit-animation:ps 2s ease-out;-moz-animation:ps 2s ease-out 0s}
.lshell{border-left:150px solid #6da601;-webkit-animation:shell 2s ease-out;-moz-animation:shell 2s ease-out 0s}

.lhtml,.lcss,.lcss3,.ljs,.ljquery,.lphp,.lmysql,.lpython,.lgit,.lmarkdown,.lps,.lshell{padding-left:25px;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out}
.lhtml:hover,.lcss:hover,.lcss3:hover,.ljs:hover,.ljquery:hover,.lphp:hover,.lmysql:hover,.lpython:hover,.lgit:hover,.lmarkdown:hover,.lps:hover,.lshell:hover{padding-left:35px;font-weight: bold;}

/*slimbox*/
#lbOverlay{position:fixed;z-index:9999;left:0;top:0;width:100%;height:100%;background-color:#000;cursor:pointer}
#lbCenter,#lbBottomContainer{position:absolute;z-index:9999;overflow:hidden;background-color:#fff}
.lbLoading{background:#fff url(file/loading.gif) no-repeat center}
#lbImage{position:absolute;left:0;top:0;border:10px solid #fff;background-repeat:no-repeat}
#lbPrevLink,#lbNextLink{display:block;position:absolute;top:0;width:50%;outline:none}
#lbPrevLink{left:0}
#lbPrevLink:hover{background:transparent url(file/prevlabel.gif) no-repeat 0 15%}
#lbNextLink{right:0}
#lbNextLink:hover{background:transparent url(file/nextlabel.gif) no-repeat 100% 15%}
#lbBottom{font-family:Verdana, Arial, Geneva, Helvetica, sans-serif;font-size:10px;color:#666;line-height:1.4em;text-align:left;border:10px solid #fff;border-top-style:none}
#lbCloseLink{display:block;float:right;width:66px;height:22px;background:transparent url(file/closelabel.gif) no-repeat center;margin:5px 0;outline:none}
#lbCaption,#lbNumber{margin-right:71px}
#lbCaption{font-weight:700}

/* up and down */
#updown{position:fixed;top:45%;right:50%;display:block;margin-right:-450px;}
#up,#comt,#down{background:url(updown.png) no-repeat;position:relative;cursor:pointer;height:25px;width:29px;margin:10px 0 0}
#comt{background-position:left -30px;height:32px}
#down{background-position:left -68px}
#comt:hover{background-position:right -30px}
#up:hover{background-position:right 0}
#down:hover{background-position:right -68px}

#toc{position:fixed;top:35%;left:50%;display:block;margin-left:-580px;background:#ebebeb;padding:10px;box-shadow: 2px -2px 2px 2px rgba(0,0,0,.2)}
#toc ul{margin-left:20px;}
#toc a{cursor: pointer;}