<div class="article">
  {% if page.title %}
  <div class="title">
    <h2>{{ page.title }} </h2>
  </div>
  {% endif %}
  <div class="post">
  {{ content }}
  </div>
  {% if page.comments %}
    <div class="ds-thread comment" data-thread-key="{{page.pid}}"></div>
    <script type="text/javascript">
        var duoshuoQuery = {short_name:'{{ site.JB.comments.duoshuo.short_name }}'};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = 'http://static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] 
                || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
    </script>
  {% else %}
    <div class="comment"><hr /><p>评论已关闭</p></div>
  {% endif %}
</div>
