<div class="article">
    <div class="title">
        <h2>{{ page.title }} </h2>
    </div>
    <div class="meta">
        <span class="time">
            <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
        </span>
        {% if page.tags %}
        <span class="tags">
            {% for tag in page.tags %}
            <a data-fragment=".vcontent" class="pjax" href="{{site.JB.tags_path}}#{{ tag }}-ref" title="{{ tag }}">#{{ tag }}</a>
            {% endfor %}
        </span>
        {% endif %}
    </div>
    <div class="post">
        {{ content }}
    </div>
    <div class="comment" id="comment">
    {% if page.comment %}
    {% include JB/comments %}
    {% else %}
        <hr />
        <p>评论已关闭</p>
    {% endif %}
    </div>
</div>

{% if page.previous or page.next %}
<div id="page_nav">
    {% if page.previous %}
    <a class="pjax" data-fragment=".vcontent" href='{{page.previous.url}}'>← Previous</a>
    {% endif %}
    {% if page.next %}
    <a class="pjax" data-fragment=".vcontent" href='{{page.next.url}}'>Next →</a>
    {% endif %}
</div>
{% endif %}